<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.common.dao.mapper.CityDao">

    <select id="queryAllCity" resultType="cn.common.entity.City">
        SELECT *FROM cd_city ORDER BY CODE ASC
    </select>
    
    <select id="getCity" resultType="cn.common.entity.City">
        SELECT *FROM cd_city WHERE CODE=#{code}
    </select>

</mapper>