<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	  xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout"
	  xmlns:c="http://java.sun.com/jsp/jstl/core">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>For Our LOVE</title>

<style type="text/css">
@font-face {
	font-family: digit;
	/*src: url('../fonts/glyphicons-halflings-regular.ttf') format("truetype");*/
}
</style>

<link th:href="@{/css/default.css}" type="text/css" rel="stylesheet"/>
<link rel="icon" th:href="@{/img/city.ico}" type="image/x-icon"/>
<script type="text/javascript" th:src="@{/js/jquery.js}"></script>
<script type="text/javascript" th:src="@{/js/garden.js}"></script>
<script type="text/javascript" th:src="@{/js/functions.js}"></script>

</head>

<body>

<div id="mainDiv">
	<div id="content">
		<div id="code">
			<span class="comments">/**</span><br></br>
			<span class="space"/><span class="comments">*♂ 大槲梓,</span><br></br>
			<span class="space"/><span class="comments">*♀ 小槑籹.</span><br></br>
			<span class="space"/><span class="comments">*/</span><br></br>
			Boy name = <span class="keyword">Mr</span> Huang<br></br>
			Girl name = <span class="keyword">Mrs</span> Yao<br></br>
			<span class="comments">// Fall in love river. </span><br></br>
			The boy love the girl;<br></br>
			<span class="comments">// They love each other.</span><br></br>
			The girl love the boy;<br></br>
			<span class="comments">// AS time goes on.</span><br></br>
			The boy can not be separated the girl;<br></br>
			<span class="comments">// At the same time.</span><br></br>
			The girl can not be separated the boy;<br></br>
			<span class="comments">// Both wind and snow all over the sky.</span><br></br>
			<span class="comments">// Whether on foot or 5 kilometers.</span><br></br>
			<span class="keyword">The boy</span> very <span class="keyword">happy</span>;<br></br>
			<span class="keyword">The girl</span> is also very <span class="keyword">happy</span>;<br></br>
			<span class="placeholder"/><span class="comments">// Whether it is right now</span><br></br>
			<span class="placeholder"/><span class="comments">// Still in the distant future.</span><br></br>
			<span class="placeholder"/>The boy has but one dream;<br></br>
			<span class="comments">// The boy wants the girl could well have been happy.</span><br></br>
			<br/>
			<br/>
			I want to say:<br></br>
			Baby, I love you forever;<br></br>
		</div>
		<div id="loveHeart">
			<canvas id="garden"></canvas>
			<div id="words">
				<div id="messages">
					亲爱的，这是我们相爱在一起的时光。
					<div id="elapseClock"></div>
				</div>
				<div id="loveu">
					爱你直到永永远远。<br></br>
					<div class="signature">- 爱你的人</div>
				</div>
			</div>
		</div>
	</div>
	<div id="copyright">
		<a href="#">....</a><br></br>
		<a href="#">....</a><br></br>

	</div>
</div>

<script type="text/javascript">
var offsetX = $("#loveHeart").width() / 2;
var offsetY = $("#loveHeart").height() / 2 - 55;
var together = new Date();
together.setFullYear(2016,9,5);
together.setHours(20);
together.setMinutes(0);
together.setSeconds(0);
together.setMilliseconds(0);

if (!document.createElement('canvas').getContext) {
	var msg = document.createElement("div");
	msg.id = "errorMsg";
	msg.innerHTML = "";
	document.body.appendChild(msg);
	$("#code").css("display", "none")
	$("#copyright").css("position", "absolute");
	$("#copyright").css("bottom", "10px");
	document.execCommand("stop");
} else {
	setTimeout(function () {
		startHeartAnimation();
	}, 5000);

	timeElapse(together);
	setInterval(function () {
		timeElapse(together);
	}, 500);

	adjustCodePosition();
	$("#code").typewriter();
}
</script>

</body>
</html>